/* covered-by-your-grace-regular - latin */
@font-face {
  font-family: 'Covered By Your Grace';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/covered-by-your-grace-v6-latin/covered-by-your-grace-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Covered By Your Grace'), local('CoveredByYourGrace'),
       url('../fonts/covered-by-your-grace-v6-latin/covered-by-your-grace-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/covered-by-your-grace-v6-latin/covered-by-your-grace-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/covered-by-your-grace-v6-latin/covered-by-your-grace-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/covered-by-your-grace-v6-latin/covered-by-your-grace-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/covered-by-your-grace-v6-latin/covered-by-your-grace-v6-latin-regular.svg#CoveredByYourGrace') format('svg'); /* Legacy iOS */
}
/* cinzel-decorative-regular - latin */
@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cinzel-decorative-v5-latin/cinzel-decorative-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cinzel Decorative Regular'), local('CinzelDecorative-Regular'),
       url('../fonts/cinzel-decorative-v5-latin/cinzel-decorative-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cinzel-decorative-v5-latin/cinzel-decorative-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cinzel-decorative-v5-latin/cinzel-decorative-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cinzel-decorative-v5-latin/cinzel-decorative-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cinzel-decorative-v5-latin/cinzel-decorative-v5-latin-regular.svg#CinzelDecorative') format('svg'); /* Legacy iOS */
}
/* flamenco-300 - latin */
@font-face {
  font-family: 'Flamenco';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/flamenco-v7-latin/flamenco-v7-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Flamenco Light'), local('Flamenco-Light'),
       url('../fonts/flamenco-v7-latin/flamenco-v7-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/flamenco-v7-latin/flamenco-v7-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/flamenco-v7-latin/flamenco-v7-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/flamenco-v7-latin/flamenco-v7-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/flamenco-v7-latin/flamenco-v7-latin-300.svg#Flamenco') format('svg'); /* Legacy iOS */
}
/* flamenco-regular - latin */
@font-face {
  font-family: 'Flamenco';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/flamenco-v7-latin/flamenco-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Flamenco Regular'), local('Flamenco-Regular'),
       url('../fonts/flamenco-v7-latin/flamenco-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/flamenco-v7-latin/flamenco-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/flamenco-v7-latin/flamenco-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/flamenco-v7-latin/flamenco-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/flamenco-v7-latin/flamenco-v7-latin-regular.svg#Flamenco') format('svg'); /* Legacy iOS */
}
