/*

### FONTS:
          font-family: 'Cinzel Decorative';
          font-family: 'Flamenco';
          font-family: 'Covered By Your Grace';

### COLOUR PALETTE:
          #04a   ===>   Blue      –––>   Highlights
          #444   ===>   Dark-Grey –––>   Shadows
          #fff   ===>   White     –––>   Filler and Shadows


*/


body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#main-heading blockquote, div.jkit-morediv, .parallax2, .parallax3 {
  font-family: 'Flamenco';
}
#main-heading blockquote, h2, .parallax3, .parallax2 {
  text-shadow: 0 0 2px #444;
}
.parallax2, .parallax3 {
  background-size: contain;
}
#main-heading {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 3px #999;
  margin: 20vh auto;
  padding-bottom: 20vh;
  background: linear-gradient(#fff 80%, #eee 97%);
}
#main-heading h1, #main-heading blockquote, div.jkit-morediv, div.parallax-container div.parallax {
  text-align: center;
}
#main-heading h1 {
  font-family: 'Cinzel Decorative';
  font-size: 5em;
  text-shadow:0 0 1px #333, 0 0 6px #ccc, 9px 1px 5px #aaa;
}
#main-heading blockquote {
  font-size: 3em;
  margin-top: -5vh;
  color: rgba(255,255,255,0.50);
  filter: drop-shadow(0 0 3px #ccc);
}
.num, .num1, .num2 {
  height: 5px;
  border-radius: 20px;
  background: linear-gradient(140deg, #04a 40%,#fff 50%, #444 60%);
}
.num {
  width: 70%;
  filter: drop-shadow(9px 1px 6px #444);
}
.num1 {
  width: 60%;
  filter: drop-shadow(6px 1px 4px #444);
}
.num2 {
  width: 50%;
  filter: drop-shadow(3px 1px 2px #444);
}
main {
  margin: -15vh auto;
}
div.jkit-morediv {
  font-size: 1.3em;
  position: absolute;
  bottom: 5px;
  left: 0px;
  height: 16px;
  overflow: visible;
}
h2 {
  font-family: 'Cinzel Decorative';
  font-size: 2.3em;
  color: rgba(255,255,255,0.50);
  text-decoration: overline;
  filter: drop-shadow(0 0 3px #ccc);
}
div.parallax-container {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
  background: linear-gradient(140deg, #ccc 50%, #fff 50% );
}
div.parallax-container div.parallax {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2500px;
	height: 250px;
	font-weight: bold;
}
.parallax1 {
	color: #555;
	font-size: 250px;
	line-height: 80%;
  font-family: 'Cinzel Decorative';
  text-shadow:0 0 1px #333, 0 0 6px #ccc, 9px 1px 5px #aaa;
    /*
Creates a bug? 
    filter: drop-shadow(0 0 3px #444);*/
}
.parallax2 {
	font-size: 100px;
	line-height: 320%;
  background-image: url("../images/cloud-stars.png");
  color: rgba(255,255,255,0.70);
  filter: drop-shadow(0 0 3px #ccc);
}
.parallax3 {
  color: #aaa;
	font-size: 50px;
	line-height: 760%;
  background-image: url("../images/cloud-stars2.png");
}
